[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CustomDerivative"]
	path = CustomDerivative
	url = https://github.com/aim-it4/customderivative
